.top--padded{
	padding-top: 70px;
}

.top--margin-min{
	margin-top: 20px;
	margin-bottom: 20px;
}

.white--text{
	color: #ffffff;
}

.text-centered{
	text-align: center
}

.large--title{
	font-size: 50px;
	font-weight: 750;
	color: #6e6e6e;
}

.grid-centered{
	margin: 0 auto;
	float: none;
}

.vt-button--wide{
	width: 100%;
	height: auto;
	padding: 5px;
	display: block;
	font-size: 13px;
	text-align: center;
	background: #6e6e6e;
	border:none;
	border-radius: 2px;
	color: #ffffff;
}

.p--content-s{
	font-size: 20px;
	// font-weight: 750;
	color: #6e6e6e;
}

.vt--padding-articles{
	border-top: 1px solid #ededed;
	// border-bottom: 1px solid #ededed;
	padding: 20px;
}

.dark--text{
	color:#202020;
}
.vt--no-pad{
	padding-left: 0px;
	padding-right: 0px;
}

.dark-bg{
	background: #f14d4d;
}

.vt--top-down{
	height: 900px;
}

.vt--card{
	background: #ffffff;
	padding: 10px;
}
